:root {
    --slime: rgba(92, 187, 30);
    --footer-grey: rgba(249, 225, 224, 0.1);
    --landing-lower: rgb(241, 241, 241);
}

/* Basic Settings */

html {
    min-height: 100%;
    overflow: hidden;
}
body {
    color: white;
    background-color: black;
    overflow: hidden;

}

#wrapper {
    width: 100%;
    display: inline-flex;
    margin-bottom: 80%;
}

/* Navbar */
.nav-link{
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
.nav-link:hover{
    transform: scale(1.1);
}
.nav-link:nth-child(1){
    color: grey;
}
.nav-link:nth-child(1):hover{
    transform: scale(1);
    cursor: default;
}

/* Landing Page Text Area */
.landing-upper {
    margin-top: 10%;
    margin-left: 15%;
    padding: 0%;
    font-size: 7em;
    font-family: 'Roboto Slab', serif;
}
/* Type this line */
.line{
    border-right: 3.5px solid var(--slime);
    overflow: hidden;
    white-space: nowrap;
}
@keyframes blinkTextCursor{
    from{border-right-color: var(--slime);}
    to{border-right-color: transparent;}
}
/* Hello */
.landing-upper .typewriter:nth-child(1){
    animation: type-1 1s steps(5) 1s 1 normal both,
               blinkTextCursor 700ms steps(5) 0s normal;
    animation-delay: 2s;
}
@keyframes type-1{
    from{width: 0;}
    to{width: 3.4em;}
    99.9% {
        border-right: 3.5px solid var(--slime);
    }
    100% {
        border-right: none;
    }
}
/* I'm Ritvika */
.landing-upper .typewriter:nth-child(2){
    margin-top: -2%;
    animation: type-2 2s steps(12) 1s 1 normal both,
               blinkTextCursor 700ms steps(12) 6 normal both;
    animation-delay: 4s;
}
@keyframes type-2{
    from{width: 0;}
    to{width: 6.25em;}
    0% {
        border-right: none;
    }
    1% {
        border-right: 3.5px solid var(--slime);
    }
}

/* Intro */
.landing-lower {
    color: var(--landing-lower);
    margin-top: 3%;
    margin-left: 15%;
    padding: 0%;
    font-size: 1.25em;
    font-family: 'Ubuntu', sans-serif;
    width: 34em;
    text-align: justify;
    opacity: 0;
    animation: glide .75s normal forwards;
    animation-delay: 5s;
}
@keyframes glide{
    100%{
        opacity: 1;
        transform: translateY(-1em);
    }
}

/* Blob */
.container{
    position: relative;
}
.blob {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    fill: var(--slime);
    width: 50vmax;
    z-index: -1;
    animation: move 8s ease-in-out infinite;
    transform-origin: 50% 50%;
}
.blob-explode{
    animation: move 8s ease-in-out infinite,
               explode 3s;
}
@keyframes move {
    0%   { transform: scale(1.2)   translate(1px, -3px); }
    38%  { transform: scale(0.9, 1) translate(100%, 30%) rotate(160deg); }
    40%  { transform: scale(0.9, 1) translate(100%, 30%) rotate(160deg); }
    78%  { transform: scale(1.5) translate(0%, 48%) rotate(-20deg); }
    80%  { transform: scale(1.5) translate(0%, 48%) rotate(-20deg); }
    100% { transform: scale(1.2)   translate(1px, -3px); }
}
@keyframes explode {
    0%   { transform: scale(1); }
    10%  { transform: scale(1.5); }
    20%  { transform: scale(3); }
    30%  { transform: scale(4.5); }
    40%  { transform: scale(6); }
    50%  { transform: scale(7.5); }
    60%  { transform: scale(8); }
    70%  { transform: scale(8.5); }
    80%  { transform: scale(9); }
    90%  { transform: scale(9.5); }
    100% { transform: scale(10); }
}
.text-dark{ /*Utility for changing text color to black when blob explodes */
    color: black;
}

/* Doodle */
#doodle {
    margin-top: 5%;
    margin-left: 17%;
    animation: dangle 0.8s infinite;
}
@keyframes dangle {
    0% {transform: rotate(10deg);}
    49.9%{transform: rotate(10deg);}
    50% {transform: rotate(20deg);}
    99.9%{transform: rotate(20deg);}
    100%{transform: rotate(10deg);} 
}

/* Loader */
#spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 999999;
    animation: fade 1s 1;
    animation-delay: 1.5s;
}
@keyframes fade {
    0%{opacity:1;}
    100%{opacity:0;}
}
#spinner {
    width: 40px;
    height: 40px;
    background-color: var(--slime);
    position: absolute;
    top: 48%;
    left: 48%;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/* Footer */
footer{
    position: fixed;
    background-color: var(--footer-grey);
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.85em;
    height: 40px;
    width:100%;
    bottom: 0;
}
footer p{
    justify-content: center;
    text-align:center;
    margin-bottom: 0;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color:grey;
    text-decoration: underline;
}



/* Responsive */
@media(max-width:1200px) {
    #landing {
        width:50%;
    }
    #doodle{
        display: none;
    }
}
@media (max-width:760px) {
    .landing-upper{
        margin-top: 10%;
        margin-left: 5%;
        font-size: 3em;
    }
    .landing-lower{
        margin-top: 10%;
        margin-left: 5%;
        font-size: 1em;
        width: 20em;
    }
}